.module-booking {
  .background-title-change-color {
    background-color: rgb(243, 230, 192);
    color: red;
    animation: change-background 2000ms infinite;
  }
  .booking-left {
    background-color: #f8f8f8;
  }
}

@keyframes change-background {
  0% { background-color:rgb(243, 230, 192);  }
  50% { background-color: rgb(254, 185, 82)  }
  100% { background-color: rgb(243, 230, 192);  }
}
